In [1]:
import pandas as pd 
import numpy as np

frame = pd.DataFrame(np.random.randn(4,3),
             columns=['b', 'd', 'e'],
             index=['台北','台中','台南','高雄'])
frame

           b         d         e
台北  0.752097  0.011118  0.378378
台中  0.547869  0.086565 -0.041082
台南 -0.653035  0.660090  1.214786
高雄  1.249506  0.256764 -0.484167

In [2]:
np.abs(frame)

           b         d         e
台北  0.752097  0.011118  0.378378
台中  0.547869  0.086565  0.041082
台南  0.653035  0.660090  1.214786
高雄  1.249506  0.256764  0.484167

In [3]:
frame.abs()

           b         d         e
台北  0.752097  0.011118  0.378378
台中  0.547869  0.086565  0.041082
台南  0.653035  0.660090  1.214786
高雄  1.249506  0.256764  0.484167

In [4]:
display(frame.loc['台北'])
for item in frame.loc['台北']:
    print(item)

b    0.752097
d    0.011118
e    0.378378
Name: 台北, dtype: float64

0.7520965620175398
0.01111822510691732
0.3783776415672198

In [5]:
for items in frame:
    print(items)

b
d
e

In [6]:
display(frame)
frame.loc['台北'].sum()
frame.loc['台中'].sum()
frame.loc['台南'].sum()
frame.loc['高雄'].sum()
frame['b'].sum()
frame['d'].sum()
frame['e'].sum()

           b         d         e
台北  0.752097  0.011118  0.378378
台中  0.547869  0.086565 -0.041082
台南 -0.653035  0.660090  1.214786
高雄  1.249506  0.256764 -0.484167

1.0679152987055036

In [7]:
display(frame)
display(frame.sum())
display(frame.sum(axis=1))

           b         d         e
台北  0.752097  0.011118  0.378378
台中  0.547869  0.086565 -0.041082
台南 -0.653035  0.660090  1.214786
高雄  1.249506  0.256764 -0.484167

b    1.896437
d    1.014537
e    1.067915
dtype: float64

台北    1.141592
台中    0.593352
台南    1.221842
高雄    1.022103
dtype: float64

In [8]:
def abc(series):
    display(series)

frame.apply(abc)

台北    0.752097
台中    0.547869
台南   -0.653035
高雄    1.249506
Name: b, dtype: float64

台北    0.011118
台中    0.086565
台南    0.660090
高雄    0.256764
Name: d, dtype: float64

台北    0.378378
台中   -0.041082
台南    1.214786
高雄   -0.484167
Name: e, dtype: float64

b    None
d    None
e    None
dtype: object

In [11]:
def abc(series):
    display(series)

frame.apply(abc,axis=1)

b    0.752097
d    0.011118
e    0.378378
Name: 台北, dtype: float64

b    0.547869
d    0.086565
e   -0.041082
Name: 台中, dtype: float64

b   -0.653035
d    0.660090
e    1.214786
Name: 台南, dtype: float64

b    1.249506
d    0.256764
e   -0.484167
Name: 高雄, dtype: float64

台北    None
台中    None
台南    None
高雄    None
dtype: object

In [9]:
def abc(s:pd.Series)->None:
    display(s)

frame.apply(abc)

台北    0.752097
台中    0.547869
台南   -0.653035
高雄    1.249506
Name: b, dtype: float64

台北    0.011118
台中    0.086565
台南    0.660090
高雄    0.256764
Name: d, dtype: float64

台北    0.378378
台中   -0.041082
台南    1.214786
高雄   -0.484167
Name: e, dtype: float64

b    None
d    None
e    None
dtype: object

In [16]:
def abc(s:pd.Series)->float:
    return s.sum() #實體方法就有了(下面)

frame.apply(abc,axis=1)

台北    1.141592
台中    0.593352
台南    1.221842
高雄    1.022103
dtype: float64

In [15]:
frame.sum(axis=1)

台北    1.141592
台中    0.593352
台南    1.221842
高雄    1.022103
dtype: float64

In [20]:
def abc(s:pd.Series)->float:
    return s.max() - s.min()#自訂沒在預設實體方法內

frame.apply(abc,axis=1)

b    1.902541
d    0.648972
e    1.698953
dtype: float64

In [21]:
def abc(s:pd.Series)->pd.Series:
    return pd.Series([s.max(),s.min()],index=['最大','最小'])

frame.apply(abc,axis=1)

          最大        最小
台北  0.752097  0.011118
台中  0.547869 -0.041082
台南  1.214786 -0.653035
高雄  1.249506 -0.484167